<configuration>
  <configSections>
    <section name="WLAssistant" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <WLAssistant>
    <add key="UserCfgPath" value="%SpecialFolder.CommonApplicationData%\Velox\Configs\WorklistAssistant\LastUser.cfg" />
  </WLAssistant>
  <?version 1.0.0.0?>
</configuration>