<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="UsersFile" value="D:\VS\TestTaskFine\WorklistAssistant\BL\Resources\users.txt" />
  </appSettings>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWAService" />
        <binding name="BasicHttpBinding_IWAService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/WAService" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IWAService" contract="WAService.IWAService"
        name="BasicHttpBinding_IWAService" />
      <endpoint address="http://localhost:63412/Service.svc/WAService"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWAService1"
        contract="WAServiceOnIIS.IWAService" name="BasicHttpBinding_IWAService1" />
    </client>
  </system.serviceModel>
</configuration>