<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="CustomConfigs">
      <section name="WLAssistant" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
  
  
  <appSettings>
    <!--<add key="UsersFile" value="D:\VS\TestTaskFine\WorklistAssistant\BL\Resources\users.txt" />-->
    <add key="ConfigPath" value="%SpecialFolder.CommonApplicationData%\Velox\Configs\WorklistAssistant\"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--<add key="UserCfgPath" value="%SpecialFolder.CommonApplicationData%\Velox\Configs\WorklistAssistant\LastUser.cfg" />-->
  </appSettings>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWAService1" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IWAService">
          <reliableSession enabled="true" />
          <security mode="Message">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:63412/Service.svc/WAService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWAService1" contract="WAServiceOnIIS.IWAService" name="BasicHttpBinding_IWAService1" />
      <endpoint address="net.tcp://localhost:8080/WAService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IWAService" contract="WAService.IWAService" name="NetTcpBinding_IWAService">
        <identity>
          <dns value="MyCert" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>